@font-face {
    font-family: 'abeezeeregular';
    src: url('./web-font/fonts/abeezee-regular-webfont.woff2') format('woff2'), url('./web-font/fonts/abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'afta_serifregular';
    src: url('./web-font/fonts/aftaserifthin-regular-webfont.woff2') format('woff2'), url('./web-font/fonts/aftaserifthin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    word-spacing: 0.9px;
    /* letter-spacing: 0.1px;
    word-spacing: 1.0px; */
}


/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}


/* header and footer */

header,
footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}


/* WRITE YOUR CODE BELOW HERE */

h1 {
    text-align: center;
}


/* section p::first-line {
    text-indent: 20px;
} */

section h2+p {
    text-indent: 20px;
}

section a {
    background: url('./img/external-link-52.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

a:link {
    color: #a66;
    /* background: url('./img/external-link-52.png'); */
}

a:visited {
    color: #a66;
}

a:focus {
    color: #a66;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #a66;
    text-decoration: none;
}

a:active {
    color: red;
}

nav a {
    text-decoration: none;
}

nav ul li {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border: 3px solid #a66;
    margin-bottom: 10px;
    text-align: center;
}